<MONITOR>
	ip=130.238.8.121
    port=4444
</MONITOR>

<VCLIENT>
	ip=192.168.122.10
	port=5001
    max_delay=0
</VCLIENT>

<APPLICATION>
	appname=serialcat
</APPLICATION>

<EVENTDEFINES>
	wisenet
</EVENTDEFINES>

<LOGFILE>
	app.log
</LOGFILE>


#keep a comment last, if a newline is missing, stuff will break
