# vclient.config for HAGGLE

# Set the IP and port where the siteManager is listening.
<MONITOR>
	ip=130.238.8.121
    port=4444
</MONITOR>

# Set the IP and port that this vclient instance will bind to.
# `max_delay' can be used to randomly delay the report of log
# events. We don't need that here, so we set it to 0.
<VCLIENT>
	ip=192.168.122.10
	port=5001
    max_delay=0
</VCLIENT>

# The application that we want to monitor
<APPLICATION>
	appname=/root/protocols/Haggle/bin/haggle
</APPLICATION>

# The name of the file containing our log event definitions.
<EVENTDEFINES>
	haggle
</EVENTDEFINES>

# This is currently unused.
<LOGFILE>
	app.log
</LOGFILE>

#keep a comment last, if a newline is missing, stuff will break
